{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
        "babel-plugin-styled-components",
         "@loadable/babel-plugin",
         "@babel/plugin-proposal-class-properties"
      ]
}